Language:        Cpp

AccessModifierOffset: -4
BasedOnStyle: Google
AlignConsecutiveMacros: 'true'
AlignConsecutiveAssignments: 'true'
AllowShortCaseLabelsOnASingleLine: 'true'
AllowShortBlocksOnASingleLine: 'Empty'
AllowShortIfStatementsOnASingleLine: 'Never'
AllowShortLoopsOnASingleLine: 'false'
BreakBeforeBraces: Allman
Cpp11BracedListStyle: 'false'
ColumnLimit: 125 
NamespaceIndentation: All
SpaceAfterTemplateKeyword: 'false'
SpaceBeforeCtorInitializerColon: 'true'
SpaceBeforeInheritanceColon: 'true'
SpaceBeforeRangeBasedForLoopColon: 'true'
SpaceInEmptyBlock: true
Standard: 'Latest'
TabWidth: 4
SortIncludes: true
UseTab: Never
IndentWidth: 4
IncludeCategories: 
  - Regex: 'Egcpch.h'
    Priority: -1